<head>
  <meta charset="utf-8" />
  <meta
  name="description"
  content="Empower impoverished African children through Poorex Nonprofit Charity. Bringing hope to street children, ensuring a happy future."
/>
<meta name="keywords" content="Poverty, Poorex, Poor, Charity, African Child, Happy, Somalians Child, Street Children" />
  <meta name="author" content="Rakibul Islam" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Poorex | Nonprofit Charity Organization</title>
  <link rel="canonical" href="https://poorex.com/" />
  <!-- CSS LINK START -->
  <link rel="stylesheet" href="../sass/style.scss" />
  <!-- CSS LINK END -->
  <!-- FAVICON LINK START -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../../public/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../../public/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../../public/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="../../public/favicon/site.webmanifest" />
  <!-- FAVICON LINK END -->
</head>
