@use "../custom" as *;

.lead {
  font-weight: $font-weight-medium;
  color: $customBlack;
  margin: 0;

  &-big {
    @include rfs(1.125rem);
    line-height: 1.75rem;
  }
  &-small {
    @include rfs(0.875rem);
    line-height: 1.5rem;
  }
  &-copywrite{
    @include rfs(0.8125rem);
    color: $gray;
  }
}

.display-1 {
  &--intro {
    display: inline-block;
    @include rfs(1rem);
    font-weight: $font-weight-medium;
    @include padding(0.5rem 2rem);
    @include margin(0 0 1.0625rem);
    background-color: $headingBG;
    line-height: 1.3rem;
  }
  &--desc {
    display: block;
    @include rfs(4.6875rem);
    font-weight: $font-weight-bold;
    @include padding(0 16.875rem 1.875rem 0);
    @include margin(0 0 0.5rem);
    line-height: 5.15625rem;
  }
}

.display-2 {
  @include rfs(24px);
  font-weight: $font-weight-bold;
  line-height: 1.4;
}

.display-3 {
  @include padding(2.5rem 5.5rem);
  border-radius: 3rem 3rem 3rem 0;
  @include margin(0 0 2rem);
  @include rfs(3.125rem);
  font-weight: $font-weight-bold;
}

.display-4 {
  display: block;
  border-radius: 3rem 3rem 0 3rem;
  @include padding(2.5rem 5.5rem);
  @include margin(0 0 2rem);
  font-weight: $font-weight-bold;
  &--review {
    padding: 0;
    @include margin(0 0 1rem);
    
    &--reviewTitle {
      @include rfs(7.5rem);
      font-weight: $font-weight-bold;
    }
    &--reviewDescip {
      @include rfs(4rem);
      font-weight: $font-weight-medium;
    }
  }
}

.display-5 {
  display: block;
  @include padding(2.5rem 5.5rem);
  border-radius: 3rem 3rem 3rem 0;
  @include margin(0 0 2rem);
  font-weight: $font-weight-bold;
  &--bechameTeacher {
    @include rfs(2.5rem);
    margin: 0;
    padding: 0;
    padding-right: 12.5rem;
  }
}

.display-6 {
  @include padding(0 13rem 2.5rem);
  font-weight: $font-weight-medium;
  margin: 0;
}