@use '../custom' as *;

.featureArea {
  background-image: url('../../../src/images/Homefeature/fea-bg-1.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include padding(8.125rem 0 5.625rem);

  .card {
    @include padding(1.875rem 1.875rem 2.5rem 3.125rem);
    box-shadow: none;
    transition: all 0.8s ease-in-out;
    svg {
      opacity: 0;
      visibility: hidden;
      width: fit-content;
      transition: all 0.8s ease-in-out;
      &:nth-child(1) {
        transform: rotate(180deg);
        filter: brightness(0.5);
      }
    }
    &-head {
      h2 {
        color: $secondary;
        transition: color 0.5s linear;
      }
      i {
        @include padding(22px 20px);
        @include rfs(1.7rem);
        color: white;
        background-color: $secondary;
        transition: all 0.5s linear;
      }
    }
    &-body {
      p {
        // media query start
        @include media-breakpoint-down(md) {
          // color: $secondary;
        }
        // media query end
        color: $gray;
        transition: color 0.5s linear;
      }
    }

    &:hover {
      box-shadow: inset 0 20rem 0 0 $primary;
    }
    &:hover h2 {
      color: $white;
    }
    &:hover svg {
      opacity: 0.5;
      visibility: visible;
    }
    &:hover p {
      color: $white;
    }
    &:hover i {
      color: $secondary;
      background-color: $white;
    }
  }
}
